<footer id="footer">
    <div class="[ container-xl py-5 ]">
        <div class="[ row ]">
            <div class="[ col-xl-12 ]">
                <div class="text-center">&copy; Copyright {{ site.time | date: '%Y' }}, Gamboozeeno</div>
            </div>
        </div>
    </div>
    <a href="https://forms.gle/XkNd2KrEuP3PFhwD9" class="[ btn ] btn-primary google-form" target="_blank" rel="nofollow">
        <i class="fas fa-comment-alt"></i>
        <span>A sua opinião importa</span>
    </a>
</footer>