<header id="header" class="[  ] header-fo">
    <div class="[  ]">
        <div class="[ row ]">
            <div class="[ col-xl-3 ]">
                <h1 class="[  ] logo">
                    <a href="/">
                        <img src="/assets/img/logo-01.png" align="{{ site.title }}">
                    </a>
                </h1>
            </div>
            <div class="[ col-xl-9 ]">
                <div class="[ float-right ] ctn">
                    <a href="" class="[  ] current-user">
                        <div class="[ float-left ] avatar"></div>
                        <span>Nelson Duarte</span>
                    </a>
                </div>
                <div class="[ float-right ] ctn">
                    <nav class="[  ] links">
                        <ul class="[ nav ]">
                            <li class="[ nav-item ]">
                                <a href="{{ link.url }}" class="[ nav-link ]">
                                    <i class="fa fa-question-circle"></i>
                                    <span>Ajuda</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>